<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agrega los enlaces a las hojas de estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/itravel.css">
    <title>iTravel</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Contenido del menú -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Seguridad</a>
            </li>
        </ul>
        <!-- Logo o nombre de la marca en el centro -->
        <a class="navbar-brand mx-auto" href="/"><img src="img/logo.jpg" alt="Logo de iTravel" class="img-fluid" style="max-width: 200px;"></a>
        <!-- Otros elementos a la derecha -->
        <ul class="navbar-nav">


            <li class="nav-item">
                <a class="nav-link" href="/login">Iniciar Sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrar">Registrar</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Contenido de la página -->
<div class="container mt-5">
    <h2>iTravel</h2>
    <p>mi Index</p>
</div>

<!-- Agrega los enlaces a los scripts de Bootstrap (jQuery y Popper.js) y Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

