<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:bootstrap="http://www.thymeleaf.org/extras/spring-bootstrap5">
<head>
    <meta charset="UTF-8">
    <title>iTravel Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <section>
        <div class="col-md-6" style="height: 50vh;">
            <div class="mb-5">
                <a href="/"><img src="img/logo.jpg" alt="Logo de iTravel" class="img-fluid" style="max-width: 200px;"></a>
            </div>

            <h2 style="color: white; font-weight: bold; font-size: 40px; margin-top: 120px;">¡Bienvenido a iTravel!</h2>
            <p style="color: white; font-size: 25px; margin-top: 20px;" class="lead">Tu plataforma de pasajes interprovinciales.</p>
            <p style="color: white; font-size: 25px; margin-top: 20px;">Descubre y reserva pasajes de Buses para viajes interprovinciales con facilidad. ¡Comienza tu viaje hoy mismo!</p>
        </div>


        <div class="formbox">
            <!-- El formulario utiliza Thymeleaf para interactuar con clases de Java -->
            <!-- Se establece la acción del formulario. @{} en Thymeleaf se usa para las URL generadas de manera dinámica por Spring Boot. -->
            <form th:action="@{''}" method="post" th:object="${user}" enctype="application/json" class="mt-4">
                <!-- "th:action" se relaciona con el controlador en Java que manejará esta solicitud POST. -->

                <h1>iTravel</h1>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <!-- Campo de entrada de correo electrónico con "th:field" que se asocia a "${user.email}". -->
                    <input type="email" id="email"  th:field="*{email}"  required>

                    <label for="email">Email:</label>

                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <!-- Campo de entrada de contraseña con "th:field" que se asocia a "${user.password}". -->
                    <input type="password" id="password" th:field="*{password}" required>

                    <label for="password" >Password:</label>

                </div>
                <div>
                    <button >Iniciar sesión</button>
                </div>
                <div class="register">
                    <h5>No tienes cuenta? <a href="/registrar">Registrate</a></h5>
                </div>
            </form>
        </div>
    </section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

